{% extends 'staff/b.html' %}
{% block body %}
<form action="" method="get">

<table class="table table-bordered table-hover">
  <tr>
    <th>SI No.</th>
    <th>Exam</th>
    <th>Date</th>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
    </tr>
    {% for i in val %}
  <tr>
    <th >{{ loop.index }}</th>
    <td>{{ i['exam'] }}</td>
    <td>{{ i['date'] }}</td>
    <td width="50px"><a href="/viewquestions/{{ i['exam_id'] }}#about" class="btn btn-success">Questions</a></td>
    <td width="50px"><a href="/deleteexam/{{ i['exam_id'] }}#about"  class="btn btn-danger" >Delete</a></td>
    <td width="50px"><a href="/omr_examine/{{ i['exam_id'] }}#about"  class="btn btn-danger" >Upload Omr</a></td>
    <td width="50px"><a href="/staff_view_result/{{ i['exam_id'] }}#about"  class="btn btn-danger" >Result</a></td>
    </tr>
    {% endfor %}
</table>
</form>
{% endblock %}
