<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body><center>
<p>
<a href="/addexam"> Add Exam</a><br/>
<a href="/staff_add_exam">View Exam</a><br/>
<a href="/staff_add_materials">staff Add Materials</a><br/>
<a href="/staff_view_result">Staff view result</a><br/>
<a href="/staff_view_notification">staff view notification</a><br>
<a href="/staff_view_profile">staff view profile</a><br/>
<a href="/staff_view_student">staff view student</a><br/>
<a href="/staff_change_password">Change Password</a><br/>
<a href="/staff_view_material" >Staff view materials</a>
</p></center>

</body>
</html>
