<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body><form id="form1" name="form1" method="post" action="">
  <center><table width="724" height="383" border="7">
    <tr>
      <th width="348" scope="col"><strong>Username</strong></th>
      <th width="348" scope="col"><label for="username"></label>
        <input type="text" name="username" id="username" /></th>
    </tr>
    <tr>
      <td> <div align="center"><strong>Password</strong></div></td>
      <td><label for="password"></label>
        <div align="center">
          <input type="text" name="password" id="password" />
        </div></td>
    </tr>
    <>
      <td colspan="2">&nbsp;
        <div align="center"><a href="#">Login</a></div></td>
      </tr>
  </table></center>
</form>
</body>
</html>
