{% extends 'staff/b.html' %}
{% block body %}
<table class="table table-bordered table-hover">
<tr>
    <td><a href="/staff_add_questions#about" class="btn btn-success">Add New</a></td>
</tr>
</table>
<table class="table table-bordered table-hover">
  <tr>
    <th>SI No.</th>
    <th>Ouestion</th>
    <th>Op1</th>
    <th>OP2</th>
    <th>Op3</th>
    <th>Op4</th>
     <th>Op5</th>
    <th>Correct Answer</th>
    <th></th>
    <th></th>
    </tr>
  {% for i in val %}
      <tr>
    <th scope="row">{{ loop.index }}</th>
    <td>{{ i['question'] }}</td>
    <td>{{ i['option_1'] }}</td>
    <td>{{ i['option_2'] }}</td>
    <td>{{ i['option_3'] }}</td>
    <td>{{ i['option_4'] }}</td>
    <td>{{ i['option_5'] }}</td>
    <td>{{ i['correct_answer'] }}</td>
    <td><a href="/editquestions/{{ i['question_id'] }}#about" class="btn btn-primary">Edit</a></td>
    <td><a href="/deletequestion/{{ i['question_id'] }}#about" class="btn btn-danger" onclick="return confirm('Are you Sure?')">Delete</a></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}