<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body><center>
<p><a href="/admin_add_winners">admin_add_winners</a><br />
  <a href="/admin_add_staff">admin_add_staff</a><br />
  <a href="/admin_add_career">admin_add_career</a><br />
  <a href="/admin_view_complaint">admin_complaint</a><br />
  <a href="/admin_view_feedback">admin_feedback</a><br />
  <a href="/admin_view_result">admin_exam_result</a><br />
  <a href="/admin_view_student">admin_view_student</a><br />
  <a href="/admin_send_notification">admin_send_notification</a><br/>
  <a href="/admin_view_winners">Admin_view_winners</a><br/>
  <a href="/admin_view_staff">Admin_view_staff</a><br/>
  <a href="/admin_view_notification">Admin_view_notification</a><br/>
  <a href="/admin_view_career">Admin_view_career</a><br/>
</p></center>
</p>
</body>
</html>
