{% extends 'admin/a.html' %}
{% block body %}
<form action="/admin_search_winner#about" method="post">
<table class="table table-bordered table-hover">
<tr>
<td><input name="search" type="text" class="form-control" required /></td>

<td><input type="submit" name="button" value="Search" class="btn btn-success"></td>
</tr>
<table  class="table table-bordered table-hover" >
  <tr>
    <th>SI No.</th>
    <th>Winner</th>
    <th>photo</th>
    <th>Details</th>
    <th>Date</th>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
    </tr>
  <tr>
    {% for i in data %}
    <th scope="row">{{ loop.index }}</th>
    <td>{{ i['name'] }}</td>
    <td><img height="100" width="100" src="{{ i['photo'] }}" alt="NO IMAGE"></td>
    <td>{{ i['details'] }}</td>
    <td>{{ i['date_of_passout'] }}</td>
    <td><a href="/editwinner/{{ i['winner_id'] }}#about" class="btn btn-primary" >Edit</a></td>
    <td><a href="/deletewinner/{{ i['winner_id'] }}#about" onclick="return confirm('Are you sure ?')" class="btn btn-danger" >Delete</a></td>

    </tr>
    {% endfor %}
</table>
</form>
{% endblock %}
